#outerGrid{
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  // background-color: black;
  background-color: #262626;
  color: #fff;
  font-size: 15px;
}

#desctopGrid{
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  align-items: center;
  height: 60px;
  width: 1024px;
  padding-left: 5px;
  padding-right: 5px;
}

@media all and (min-width: 767px) and (max-width: 1024px){
  #desctopGrid{
    width: 767px;
  }
}

#mobileGrid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 20px 20px 10px;
  align-items: center;
  justify-items: center;
  height: 85px;
}

.buttons{
  display: grid;
  grid-template-columns: 1fr 90px;
  align-items: center;
  justify-content: center;
  color: #B2B2B2;
}

.socialButtons{
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: right;
  text-align: center;
}

.justRight{
  display: grid;
  justify-content: right;
}

.footer-text {
  color: #B2B2B2;
}

.centerLogo{
  justify-items: center;
  align-content: center;
}