<form id="outerGrid"  style="padding-bottom: 0" [formGroup]="resetPasswordCtrl"
      (ngSubmit)="sendVoucher(resetPasswordForm)" #resetPasswordForm="ngForm">
  <div id="innerGrid">
    <h3 class="font-weight-normal">Восстановление аккаунта</h3>

    <div class="form-group form">
      <label class="input-label">Email
      <input name="email" type="email" class="form-control"
              placeholder="example@mail.com"
              formControlName="email"
              ngModel
              required>
      </label>
      <div *ngIf="email.invalid && email.touched"
            class="alert alert-danger">
        <div *ngIf="email.errors.required">
          Необходимо заполнить email
        </div>
      </div>
    </div>

    <button [disabled]="resetPasswordCtrl.invalid" class="btn btn-lg btn-primary btn-block form" type="submit">
      Отправить письмо
    </button>

    <div class="checkbox mt-2">
      <label>
        <a routerLink="/signup">Еще не зарегистрированы?</a>
      </label>
    </div>

    <div class="checkbox">
      <label>
        <a routerLink="/login">Вспомнили пароль?</a>
      </label>
    </div>
  </div>
</form>