.waiting-dot-container {
    line-height: 20px;
    color: #E20074;
    font-size: 6px;
    bottom: 7px;
    display: table-cell;
    vertical-align: middle
  }
.just-t-letter {
    line-height: 20px;
    color: #E20074;
    font-weight: bold;
    font-size: 40px;
    display: table-cell;
    vertical-align: middle;
  }
.parent-div{
    display: table
}