<div class="parent-div">
        <div [@animate]="animates[0]" class="waiting-dot-container px-1"><img height="10px" src="./assets/images/t-cube.svg" alt="t-cube square"></div>
        <div [@animate]="animates[1]" class="waiting-dot-container px-1"><img height="10px" src="./assets/images/t-cube.svg" alt="t-cube square"></div>
        <div [@animate]="animates[2]" class="waiting-dot-container px-1"><img height="10px" src="./assets/images/t-cube.svg" alt="t-cube square"></div>
        <div class="just-t-letter pt-1 pl-1">
                <img height="40px" src="./assets/images/t-latter.svg" alt="T-Systems logo"/>
        </div>
        <div [@animate]="animates[3]" class="waiting-dot-container px-1"><img height="10px" src="./assets/images/t-cube.svg" alt="t-cube square"></div>
        <div [@animate]="animates[4]" class="waiting-dot-container px-1"><img height="10px" src="./assets/images/t-cube.svg" alt="t-cube square"></div>
        <div [@animate]="animates[5]" class="waiting-dot-container px-1"><img height="10px" src="./assets/images/t-cube.svg" alt="t-cube square"></div>
</div>