#outerGrid{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.active {
    background-color: #cdcefe;
}

.std-padding {
    padding: 0.75rem;
}

hr {
    margin: 0;
}