<div class="std-container-width row h-100 pt-6 justify-content-center align-items-center">
  <div class="col-sm-12 col-md-6 pl-0 pr-0 mx-auto">
    <div class="card">
      <div class="card-body text-center">
        <h3 class="card-title">Сброс пароля</h3>
        <div class="card-text text-left">
          <p>Пожалуйста, дождитесь письма на указанный Вами почтовый адрес и перейдите по вложенной ссылке.</p>
        </div>
        <a id="noAccountLink" [routerLink]="['/login']">Вернуться назад к форме входа</a>
      </div>
    </div>
  </div>
</div>