<div id="outerGrid">
    <div></div>
    <div id="block">
        <div class="text-center">
            <span class="block-title">Пользовательское соглашение</span>
        </div>

        <div class="textStyle">
            <p>Предоставляя свои персональные данные Пользователь даёт согласие на обработку,
                хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г. в следующих целях:</p>
            <ul>
                <li>Обработка результатов задач в ходе использования приложения.</li>
            </ul>
            <p>Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя.</p>
            <p>Персональные данные Пользователей хранятся исключительно на электронных носителях.</p>
            <p>Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением запросов уполномоченных органов
                государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ</p>

            <p>Компания оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила,
                при условии, что изменения не противоречат действующему законодательству РФ.
                Изменения условий настоящих правил вступают в силу после их публикации на сайте приложения.</p>
        </div>
    </div>
    <div></div>
</div>
