#outerGrid{
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  height: 100%;
}

#innerGrid{
  display: grid;
  align-items: center;
  justify-items: center;
}

#form{
  width: 310px;
}

.date-info {
  font-size: 0.9em;
}
